<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="box">
        <div class="title">用户登录</div>
        <form action="" method="post">
            <table class="login">
                <tr><th>用户名：</th><td><input type="text" name="username" id=""></td></tr>
                <tr><th>密码：</th><td><input type="password" name="password" id=""></td></tr>
                <tr><th></th><td><input type="submit" value="登录"></td></tr>
            </table>
        </form>
    </div>
</body>
</html>